* {
    margin: 0;padding: 0;
}
body {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Space Mono", monospace;
}
a {
    color: #9e9e9e;
    text-decoration: none;
}
header {
    color: #9e9e9e;
    line-height: 50px;
    text-transform: capitalize;
}
header::before {
    content: '<';
}
header::after {
    content: '>';
}
h4 {
    color: rgb(209, 205, 205);
    font-size: 30px;
    margin: 25px 0;
}
button {
    margin: 30px 0;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 100;
    text-transform: capitalize;
    color: #9e9e9e;
    background: none;
    border: 1px solid #9e9e9e;
    cursor: pointer;
}
button:hover {
    background-color: #ffffff41;
    transition: .5s ease-in-out;
}
ul {
    color: rgb(175, 175, 175);
}
p {
    color: #9e9e9e;
    line-height: 30px;
    font-size: 16px;
}
h5 {
    color: grey;
    font-size: 18px;
    line-height: 50px;
    text-transform: capitalize;
}
.navbar {
    width: 100%;
}
.navbar .top-bar {
    width: 100%;
    background-color: #000000d5;
    backdrop-filter: blur(5px);
    padding: 10px 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navbar .menu-bar{
    padding: 0;
    margin: 0;
    height: fit-content;
    width: fit-content;
    border: none;
    background: none;
    cursor: pointer;
}
.navbar .menu-bar div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-top: 5px;
}
.active div:first-child {
    transform: rotate(45deg) translate(11px, 0px);
    transition: .5s ease-in-out;
}
.active div:nth-child(2) {
    opacity: 0;
    transition: .5s;
}
.active div:last-child {
    transform: rotate(-45deg) translate(11px, 0px);
    transition: .5s ease-in-out;
}

nav {
    display: none;
    background-color: #000000d5;
    backdrop-filter: blur(5px);
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 55;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.nav-display {
    display: flex;
    opacity: 0;
    animation: show .5s ease-in-out forwards;
}
@keyframes show {
    from {
        filter: blur(33px);
        opacity: 0;
    }
    to {
        filter: blur(0);
        opacity: 1;
    }
}
nav ul {
    font-size: 25px;
    list-style-type: none;
    text-transform: capitalize;
    line-height: 70px;
    text-align: center;
}
nav ul div {
    display: none;
}
nav ul li:hover {
    color: white;
    transition: .3s ease-in-out;
    cursor: pointer;
}


.about {
    padding: 10%;
}
.about .text {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.about .text .txt {
    padding: 50px;
}

.img {
    width: 60%;
}
.img img {
    width: 100%;
    /* height: 50vh; */
}

.skills {
    padding: 10%;
}
.skills ul {
    line-height: 30px;
    padding: 0 25px;
}
.skills ul li {
    font-size: 15px;
}
.skills .advantages .div {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.skills .advantages .div .sub-divs {
    width: 25%;
    padding: 20px;
    border: 1px solid #9e9e9e;
    text-align: center;
}
.skills .advantages .div .sub-divs i {
    font-size: 25px;
    color: #ebe6e6;
}
.skills .advantages div .sub-divs h5 {
    color: #ebe6e6;
    font-size: 20px;
    line-height: 50px;
}
.skills p {
    color: #9e9e9e;
    line-height: 20px;
    font-size: 15px;
}


.projects .first-sec{
    padding: 10%;
    position: relative;
}
.projects .first-sec header {
    text-align: center;
}
    .projects .slide {
    position: relative;
    width: 100%;
    display: flex;
    gap: 2%;
    flex-direction: row;
    overflow: hidden;
}
.projects .slide .slide-content {
    display: none;
}
.projects .slide div:nth-child(1) {
    animation: pop .4s ease-in-out forwards;
    display: block;
}

@keyframes pop {
    from {
        /* filter: blur(33px); */
        transform: translate(200px, 0);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
.projects .slide div:nth-child(2) {
    animation: pop1 .6s ease-in-out forwards;
    display: block;
}
@keyframes pop1 {
    from {
        /* filter: blur(33px); */
        transform: translate(200px, 0);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
.projects .slide div img {
    width: 40vw;
}
.projects .first-sec button {
    z-index: 5;
    top: 45%;
    position: absolute;
    height: fit-content;
    width: fit-content;
    padding: 5px;
}
.projects .first-sec button:nth-child(3) {
    left: 7.5%;
}
.projects .first-sec button:nth-child(2) {
    right: 7.5%;
}
.projects .text {
    padding: 10%;
    display: flex;
    justify-content: space-between;
}
.projects .text .txt {
    width: 50%;
}
.projects .text .txt ul {
    padding: 0 25px;
}
.projects .text .img {
    width: 40%;
}

.contact {
    padding: 10%;
}
.contact .text {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.contact .text .txt {
    width: 40%;
}
.contact .text .form {
    width: 40%;
}
.contact .text .form form {
    display: flex;
    flex-direction: column;
}
.contact .text .form form .input {
    position: relative;
}
.contact .text .form form input, textarea {
    color: white;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #9e9e9e;
    border-color: transparent transparent #9e9e9e transparent ;
    background: none;
    padding: 10px 0;
}
.contact .text .form form .input label{
    color: #9e9e9e;
    position: absolute;
    top: 30%;
    text-transform: uppercase;
    font-size: 16px;
    transition: 1s;
}
.contact .text .form .input input:focus ~label,
.contact .text .form .input input:valid ~label {
    top: 10%;
    font-size: 11px;
}
.contact .text .form .input textarea:focus ~label,
.contact .text .form .input textarea:valid ~label {
    top: 10%;
    font-size: 11px;
}
.contact .text .form form input, textarea:focus {
    outline: none;
}
.contact .text .form form button {
    width: 40%;
    margin-left: 60%;
}
footer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    background-color: #1414149f;
    width: 100%;
    backdrop-filter: blur(20px);
}
.footer {
    margin: 0 20px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
footer a {
    text-decoration: none;
    color: white;
}
.footer .left a {
    margin-right: 10px;
}

@media only screen and (max-width: 900px) { 
    .about .text {
        flex-direction: column-reverse;
    }
    .about .text .img {
        display: none;
    }
    .skills .advantages .div {
        flex-direction: column;
        width: 100%;
    }
    .skills .advantages .div .sub-divs {
        width: 90%;
        margin-top: 20px;
    }
    .projects .text {
        flex-direction: column-reverse;
    } 
    .projects .text .txt {
        width: 100%;
    }
    .projects .text .img {
        display: none;
    }
    .projects .slide-content{
        display: none;
    }
    .projects .slide .slide-content img {
        width: 90vw;
    }
    .contact .text {
        flex-direction: column;
    }
    .contact .text .txt {
        width: 100%;
    }
    .contact .text .form {
        width: 100%;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 550px) {
    body {
        overflow-x: hidden;
    }
    .about, .projects, .skills, .contact {
        padding: 10% 3%;
        margin-top: 25%;
    }
    header {
        line-height: 40px;
    }
    p {
        line-height: 20px;
        font-size: 16px;
    }
    button {
        margin: 5px 0;
    }
    h4 {
        font-size: 20px;
        line-height: auto;
    }
    .navbar .top-bar {
        padding: 10px;
    }
    nav ul {
        font-size: 20px;
    }
    nav ul div {
        display: block;
    }
    nav ul div:last-child {
        position: absolute;
        bottom: 0;
    }
    .about .text .txt {
        padding: 0px;
    }
    .skills ul li {
        font-size: 12px;
    }
    .projects {
        padding: 15px;
    }
    .projects .text {
        padding: 15px;
    }
    .projects .first-sec {
        padding: 5%;
    }
}